.battle-section {
    background-image: url("../img/medievalbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    border: 50px black solid;
    text-align: center;
    display: none;
    font-family: "raleway", sans-serif;
}

.battle-title-box {
    margin-top: 0%;
}

.battle-instructions {
    background-image: url("../img/paperscrollbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 800px;
    height: 600px;
    padding: 20px;
    font-size: 1.4em;
    left: 25%;
    top: 10%;
    font-family: "raleway", sans-serif;
    text-align: center;
}

.battle-instructions h3 {
    margin-bottom: 10px;
    font-size: 2em;
}

.battle-instructions p {
    font-size: 0.9em;
    line-height: 1em;
}

.battlefield {
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 90%;
    height: 60%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    color: yellowgreen;
    padding: 20px;
}

.player-one, .player-two {
    text-align: left;
    width: 33%;
    height: 90%;
}

.img-instructions {
    float: left;
}

.battle-info-box {
    width: 33%;
    height: 100%;
    text-align: center;
    border: 3px groove black;
    background-image: url("../img/paperscrollbackground.jpg");
    padding: 20px;
    color: black;
    font-family: "raleway", sans-serif;
    font-size: 2em;
    overflow: scroll;
}

.player-two {
    text-align: right;
}

.player-one-header {
    display: flex;
    justify-content: flex-start;
    font-size: 1.8em;
}

.player-text li {
    margin-top: 10px;
}

.battle-text {
    margin-top: 10px;
    font-size: 0.6em;
}


.player-two-header {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8em;
}

.player-one-key-info, .player-two-key-info {
    padding: 10px 20px;
}

.player-one-name, .player-two-name {
    margin-bottom: 20px;
}

.player-img {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.player-one-image, .player-two-image {
    background-image: url("../img/characterimages/goblin.jpg");
    background-size: cover;
}

.player-two-abilities {
    float:right;
}

.ability-btn {
    position: relative;
    height: 40px;
    width: 220px;
    background-color:  rgba(199, 154, 56, 0.65);
    margin: 10px 0px;
    padding:0px;
    text-align: center;
    line-height: 30px;
    font-family: "raleway", sans-serif;
}

.key-text {
    margin-left: 5px;
    color: black;
    font-size: 1em;
    float: left;
}

.cooldown-bar {
    height: 5px;
    width: 100%;
    background-color: blue;
    position: absolute;
    top:87%;
    border: none;
}

.thin-bar {
    width:100%;
    height: 1px;
    float: right;
}



.timer-box {
    height: 70px;
    width: 160px;
    border: 1px solid white;
    color: white;
    font-family: "raleway", sans-serif;
    font-size: 2.5em;
    line-height: 60px;
    text-align: center;
}

.timer-box-player-two {
    float: right;
}

.battle-win-btn {
    display: none;   
}

.battle-quit-btn {
    display: none;
}

.attacker-image {
    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
    display: none;
}

.player1-attacker-image {
    
    left: 0%;
}

.player2-attacker-image {
    right: 0%;
}