* {
    box-sizing: border-box;
    font-family: 'Montez', cursive;
     
}

button:focus {
     outline: 0;
}

.first-section {
    background-image: url("../img/medievalBackground.jpg");
    background-repeat: no-repeat;
    height: 800px;
    border: 50px black solid;
    text-align: center;
    display: none; 
}

.title-box {
    margin-top: 10%;
    color: yellowgreen;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px black;
}

.game-title {
    font-size: 6em;
}

.game-subtitle {
    font-size: 4em;
}

.game-buttons {
    margin-top: 5%;
}

.btn {
    color: white;
    font-size: 2em;
    margin: 2%;
}

.btn:hover {
    color: black;
}

.footer {
    color: white;
    margin-top: 15%;
    font-family: 'Raleway', sans-serif;
}

.instructions, .options {
    font-size: 1.8em;
    position: absolute;
    padding: 50px;
    height: 75%;
    width: 70%;
    top: 12%;
    left: 15%;
    background-image: url("../img/paperscrollBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;

}

.instructions-title, .options-title {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

.instructions-text {
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
}

.options {
    top: 20%;
    height: 400px;
}

.options-text {
    line-height: 2em;
}

.difficulty-input {
    margin-left: 130px;
    line-height: 2em;
    font-size: 0.7em;
}

.acknowledged {
    font-size: 1.4em;
    margin-top: 25px;
    padding: 10px 30px;
    border: none;
    background-color: rgba(199, 154, 56, 0.65);
}

.acknowledged:hover {
    color: white;
}