.map-section {
    background-image: url("../img/westeros-map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    border: 50px black solid;
    text-align: center;
    display: none;
}

.map-display {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding: 80px 50px 50px 50px;
    font-family: 'Raleway', sans-serif;
}

.map-instructions {
    font-size: 3em;
    color: yellowgreen;
    margin-bottom: 20px;
}

.map-event {
    border-radius: 45px;
    height: 15px;
    width: 15px;
    display: none;
    animation: color_change 1s infinite alternate;
}

@keyframes color_change {
	from { background-color: red; }
	to { background-color: orange; }
}

.map-event-winterfell {
    position: absolute;
    top: 27%;
    left: 23%;
}

.map-event-kings-landing {
    position: absolute;
    top: 64%;
    left: 27%;
}

.map-event-dragonstone {
    position: absolute;
    top: 59.5%;
    left: 31.2%;
}

.map-event-casterley {
    position: absolute;
    top: 63%;
    left: 14.5%;
}

.map-event-wall {
    position: absolute;
    top: 6.5%;
    left: 16.5%;
    display: none;
}

.map-hints {
    position: absolute;
    background-image: url("../img/paperscrollBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 20%;
    left: 40%;
    width: 650px;
    height: 230px;
    border: 1px solid black;
    display: none;
    padding: 50px 20px;
    font-family: "raleyway", sans-serif;
    text-align: center;
    color: black;
    font-size: 1.6em;
}

.map-hints-title {
    font-size: 1.8em;
}

.display-stats-btn {
    float: right;
    display: none;
    margin: 20px;
    width: 150px;
}

.map-train-btn {
    float: right;
    display: none;
    width: 150px;
    margin: 20px;
}

.stats-screen {
    position: absolute;
    top: 7%;
    left: 10%;
    background-image: url("../img/paperscrollBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 80%;
    display:none;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 60px;
    font-family: "raleway", sans-serif;
}

.stats-left, .stats-right {
    width: 50%;
    font-size: 1.6em;
    line-height: 2em;
}

.return-to-map-btn {
    position: absolute;
    bottom: 10%;
    left: 32%;
}


